<h1>Reset your Password</h1><br>

<form action="<% forgot_password_session_url %>" method="post">
	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token%>">

	<label for="email">Email</label>
	<input type="text" name="user[email]" id="email"><br>

	<input type="submit" value="Reset Password">
</form>