<h1>Reset Password Here</h1>

<form action = "<%= set_new_password_session_url %>" method = "post">
	<input 	type = "hidden"
					name = "authenticity_token"
					value = "<%= form_authenticity_token %>">

	<input 	type = "hidden"
					name = "_method"
					value = "put">

	<input type = "hidden"
					name = "user[session_token]"
					value = "<%= @user.session_token %>">

	<label for="new_password">New Password</label>
	<input 	type="password"
					name="user[password]"
					value=""
					id="new_password">

	<input type = "submit" value = "Create new password">

</form>
