<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You forgot your password, <%= @user.email %>.</h1>
    <p>
      Please click here to reset your password:
			<a href="<%= @url %>">Click here!</a>
    </p>
  </body>
</html>